@model IEnumerable<Data_Training.Models.Classroom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css" />


<h2>Map</h2>

@if (User.IsInRole("tutor") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div id='map' style='width: 100%; height:600px'></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="coordinates">
            <td class="description">
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="longitude">
                @Html.DisplayFor(modelItem => item.Longtitude)
            </td>
            <td class="latitude">
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            @if (User.IsInRole("tutor") || User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            }
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/mapbox")
}

