@model IEnumerable<Data_Training.Models.Material>

@{
    ViewBag.Title = "Material list";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Material list</h2>

@if (User.IsInRole("tutor") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            @if (User.IsInRole("tutor") || User.IsInRole("admin"))
            {
                <th></th>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>

                @if (User.IsInRole("tutor") || User.IsInRole("admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Send to Email", "Download", new { id = item.Id})
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
